.Social {
    box-shadow: 0 1rem 2rem rgba(black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    background: rgb(225,201,255);
    background-image: url("../images/pink.jpg");
    background-size: cover;
}

.cv {
    width: 11.5rem;
}